# Jira Cloud Credentials
JIRA_URL=https://<your-subdomain>.atlassian.net
JIRA_EMAIL=your-email@domain.com
JIRA_TOKEN=your-jira-api-token

# Groq LLM API Key Configuration
GROQ_KEY=gsk_your_groq_api_secret_key

# Express Server Configuration
PORT=5001
